In [2]:
names = [ 'Ali', 'Vali', 'Tavarali']
age = [ 12, 14, 13]
salary = [ 1000, 2000, 1500]

In [3]:
names.index( "Ali")

0

In [4]:
print(
    age[0],
    salary[0],
    names[0]
)

12 1000 Ali

In [8]:
user1 = { 'name': 'Ali', 'age': 12, 'salary': 1000 }
user2 = { 'name': 'Ali', 'age': 13, 'salary': 2000 }
user3 = { 'name': 'Ali', 'age': 14, 'salary': 3000 }

In [ ]:
user1['name'], user1['age'], user1['salary']

In [10]:
print (
    user1, 
    user2,
    user3, sep='\n'
)

{'name': 'Ali', 'age': 12, 'salary': 1000}
{'name': 'Ali', 'age': 13, 'salary': 2000}
{'name': 'Ali', 'age': 14, 'salary': 3000}

In [11]:
user = { 'name': "Aslam", 'age': 25, 'salary': 4000, 'phone': '9928776655', 'birth date': '2000-04-08' }

In [12]:
print (user)

{'name': 'Aslam', 'age': 25, 'salary': 4000, 'phone': '9928776655', 'birth date': '2000-04-08'}

In [22]:
dict = { 'name': "Aslam", 
        'age': 25,
          'salary': 4000,
            'phone': '9928776655',
              'birth date': '2000-04-08' }

In [23]:
print(dict)

{'name': 'Aslam', 'age': 25, 'salary': 4000, 'phone': '9928776655', 'birth date': '2000-04-08'}

In [26]:
dict_keys = dict.keys()
print(dict_keys)

dict_keys(['name', 'age', 'salary', 'phone', 'birth date'])

In [28]:
dict_values = dict.values()
print(dict_values)

dict_values(['Aslam', 25, 4000, '9928776655', '2000-04-08'])

In [30]:
for i, j in [['1' , '2'], ['3', '4']]:
    print(i, '|',  j)

1 | 2
3 | 4

In [37]:
users = [
    {'name': 'Todd', 'phone': '551-1414', 'email': 'todd@gmail.com'},
    {'name': 'Helga', 'phone': '555-1618', 'email': 'helga@mail.net'},
    {'name': 'Olivia', 'phone': '449-3141'},
    {'name': 'LJ', 'phone': '555-2718', 'email': 'lj@gmail.net'},
    {'name': 'Ruslan', 'phone': '422-145-9098', 'email': 'rus-lan.cha@yandex.ru'},
    {'name': 'John', 'phone': '233-421-32', 'email': ''},
    {'name': 'Lara', 'phone': '+7998-676-2532', 'email': 'g.lara89@gmail.com'},
    {'name': 'Alina', 'phone': '+7948-799-2434', 'email': 'ali.ch.b@gmail.com'},
    {'name': 'Robert', 'phone': '420-2011', 'email': ''},
    {'name': 'Riyad', 'phone': '128-8890-128', 'email': 'r.mahrez@mail.net'},
    {'name': 'Khabib', 'phone': '+7995-600-9080', 'email': 'kh.nurmag@gmail.com'},
    {'name': 'Olga', 'phone': '6449-314-1213', 'email': ''},
    {'name': 'Roman', 'phone': '+7459-145-8059', 'email': 'roma988@mail.ru'},
    {'name': 'Maria', 'phone': '12-129-3148', 'email': 'm.sharapova@gmail.com'},
    {'name': 'Fedor', 'phone': '+7445-341-0545', 'email': ''},
    {'name': 'Tim', 'phone': '242-449-3141', 'email': 'timm.ggg@yandex.ru'}
]

In [38]:
for user in users:
    if 'email' not in user:
        print("No email key")
        continue
    if user["email"]:
        print(user["name"], '|', user["phone"])

Todd | 551-1414
Helga | 555-1618
No email key
LJ | 555-2718
Ruslan | 422-145-9098
Lara | +7998-676-2532
Alina | +7948-799-2434
Riyad | 128-8890-128
Khabib | +7995-600-9080
Roman | +7459-145-8059
Maria | 12-129-3148
Tim | 242-449-3141

In [ ]:
r.seed(42)
unsorted_dict = {i: r.randint(1, 10): r.randint(1, 100) for i in range(10)}

In [41]:
dict1 = {'a': 100, 'z': 333, 'b': 200, 'c': 300, 'd': 45, 'e': 98, 't': 76, 'q': 34, 'f': 90, 'm': 230}
dict2 = {'a': 300, 'b': 200, 'd': 400, 't': 777, 'c': 12, 'p': 123, 'w': 111, 'z': 666}

dict3 = {}

In [42]:
for key in dict1:
    if key in dict2:
        dict3[key] = dict1[key] + dict2[key]
print(dict3)

{'a': 400, 'z': 999, 'b': 400, 'c': 312, 'd': 445, 't': 853}